/* PrivacyPolicy.module.css */
.ul2 {
    list-style-type: disc; /* Bullets */
    margin-left: 20px; /* Indentation */
  }
  
  .li2 {
    margin-bottom: 10px; /* Space between bullet points */
  }
  